.theme_bg

{

background-color:#fff;

}

@media (min-width: 400px) {

.theme_bg

{

	/*background-image:url(../images/land.jpg);*/

	background-image:url(../images/3536land.jpg);

	background-repeat:no-repeat;

	background-size:cover;	

	background-position:center;

}

}

@media (min-width: 100px) and (max-width: 399px) {

.theme_bg

{

	/*background-image:url(../images/port.jpg);*/

	background-image:url(../images/3536port.jpg);

	background-repeat:no-repeat;

	background-size:cover;	

	background-position:center;

}

}